@import "../../../global/styles/global.scss";

h1 {
  margin: 0;
}

.title{
  color: $base-color;
}

.python-div {
  background-color: $base-background;
  margin: 0;
  padding: 1rem;
}

.python-section{
  padding: 20px;
}

.python-welcome{
  padding: 25px;
}

.projects-container {
  width: 75%;
  margin: 0 auto;
}

.poroject-Card {
  background-color: $base-background;
}

.padding-small{
  padding: 75px;
}