@import '../../../global/styles/global.scss';

p{
    color: $dark-white ;
    text-align: justify;
    text-justify: inter-word;
}



.home-div{
    background-color: rgb(17, 17, 17);
    padding-bottom: 2rem;
}



.g-hr{
    height: 1px;
    background: linear-gradient(90deg, rgba(0,36,27,1) 0%, rgba(62,114,113,1) 20%, rgba(57,174,171,1) 40%, rgba(143,239,223,1) 50%, rgba(57,174,171,1) 60%, rgba(62,114,113,1) 80%, rgba(0,36,27,1) 100%);
    margin: 0px;
    border: none;
}

.h-h1{
    color: $base-color;
    font-size: 4rem;
    margin: 0px;
}

.h-h1 span{
    color: $base-white;
}

.h-h2{
    color: $base-white;
    margin: 0px;
}

.h-h3{
    color: $base-white;
    margin: 0px;
}

.h-h4{
    color: blue;
    margin: 0px;
}

.h-h5{
    color: blue;
    margin: 0px;
}

.h-a{
    margin: 0px;
    padding: 0px;
}

.subtitle{
    color: $base-color;
    padding: 1rem 0;
}

.subtitle span{
    color: $base-white;
}

.home-myskills{
    width: 75%;
    margin: 0px auto;
}

.home-myprojects{
    margin: auto;
}

.home-aboutme{
    width: 75%;
    margin: 0px auto;
}

.cv-button{
    width: 100%;
  }

.home-content{
    margin: 2rem;
}

.skills-div{
    padding: 2rem 0;
}

.text-center{
    text-align: center;
  }

  .align-c{
    margin: 0 auto;
    width: 95%;
    color: $base-color;
  }

  .align-stars{
      text-align: right;
      color: #fdf580;
  }

  