body html {
  background-color: #121111;
}

* {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.padding-small {
  padding: 10px;
}

.padding-medium {
  padding: 25px;
}

.padding-big {
  padding: 45px;
}

.info-card-div div {
  margin: 0 1rem;
}

.info-card-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-img {
  margin: 5%;
  height: 180px;
  width: 295px;
}

.info-title {
  margin: 1rem 0;
  color: #dedede;
}

.info-text {
  color: #afafaf;
}
/*# sourceMappingURL=info_card.css.map */