@import '../../../../../global/styles/global.scss';
.info-card-div div{
    margin: 0 1rem;
}

.info-card-div{
display: flex;
}

.info-img{
    margin: 5%;
    height: 180px;
    width: 295px;

}

.info-title{
    margin: 1rem 0;
    color: $base-white;
}

.info-text{
    color: #afafaf;
}