@import '../../../global/styles/global.scss';

.footer{
    background-color: $light-background;
    text-align: center;
    width: 100%;
}

.footer-title{
    color: white;
}


.footer-links{
    margin: auto;
    display: flex;
    width: 65%;
    justify-content: space-between;
}

.footer-link{
    color: white;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.footer-link:hover{
    color: white;
}

.footer-icon{
    margin: 0 0.5rem;
}