@import "../../../global/styles/global.scss";

h1 {
  margin: 0;
}

.python-div {
  background-color: $base-background;
  margin: 0;
  padding: 1rem;
}

.projects-container {
  width: 75%;
  margin: 0 auto;
}

.poroject-Card {
  background-color: $base-background;
}
